.headline {
  display: flex;
  flex-direction: column;
}

.headline__wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2rem;
}

.headline__content {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  flex: 1;
}

.headline__actions {
  display: flex;
  justify-content: end;
  max-width: 396px;
  flex: 1;
}
